@{     
    ViewData["Title"] = "Simple Auction";    
    ViewData["AppName"] = "app";
    ViewData["AppCss"] = "app";
}

<div class="api" data-bind="@ViewData["ApiUrl"]"></div>
<div id="app">Is loading....</div>