@{
    ViewData["Title"] = "JeRa Trading s.r.o.";
    ViewData["AppName"] = "app";
    ViewData["AppCss"] = "app";
}

<div class="api" data-bind="@ViewData["ApiUrl"]"></div>
<div id="app">
    <div class="spinner">
        <div class="loader"></div>
    </div>
</div>